*.png
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_3
*.pyc
*.pyc
*.pyc
__pycache__/model.cpython-311.pyc
*.meta
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
*.gz
data/cifar-10-batches-py/test_batch
*.pyc
__pycache__/model.cpython-311.pyc
*.pdf
*.pt
*.pyc